<h1>Under Construction</h1>

<div>
  <p>Estamos trabajando para usted</p>
  <p>Omar esta en camino a Peru</p>
  <p>Disculpe las molestias</p>
</div>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
