<div class="hero" style="margin-top: 0;">
    <div class="hero-image" style="background-image:url('https://res.cloudinary.com/diugmcj6k/image/upload/baup');">
        <div class="search-container">
            <%= form_with url: root_path, method: :get, local: true, class: "d-flex", data: { controller: "search" } do %>
                <%= text_field_tag :query, params[:query], class: 'search-box', placeholder: "¿A dónde quieres ir? Busca tu próxima experiencia...", data: { action: "keyup->search#search", search_target: "query" } %>
            <% end %>
        </div>
    </div>
</div>

<section class="tours-section">
    <h2 class="section-title">Experiencias Disponibles</h2>
    <div class="tours-grid">
        <%= render partial: "experiences", locals: { experiences: @experiences } %>
    </div>
</section>
