.navbar-lewagon {
  justify-content: space-between;
  background: #343A40;
  border-radius: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-left: 50px;
}
.nav-link{
  color: white;
}
